h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}

.items-container {
  text-align: left;
}
.my-row {
  margin: 10px 5px;
}
.my-button {
  min-width: 80px;
}
